body {
font-family: Arial;
background: #f2f2f2;
padding: 20px;
}


.contenedor {
background: white;
padding: 20px;
border-radius: 12px;
width: 300px;
margin: auto;
text-align: center;
}


.dato {
font-size: 22px;
margin: 10px 0;
}


.estado {
font-size: 20px;
font-weight: bold;
}