body{
  font-family: Arial;
  background: #80966e;
  padding: 40px;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.contenedor{
  background: rgb(185, 197, 174);
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  margin: auto;
  text-align: center;
}

.contenedor2{
  background: #859b73;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  margin: auto;
  text-align: center;
}

.dato{
  font-size: 30px;
  margin: 10px 0;
}

.estado{
  font-size: 20px;
  font-weight: bold;
}

h1{
  background-color: #859b73;
  border-radius: 10%;
}

h3{
  margin: 50px 0;
  background-color: #80966e;
  padding: 1rem;
  margin: 1rem;
  border-radius: 6px;
}

#brote{
  width: 280px;
  height: 240px;
  border-radius: 10%;
}

#plantaFeliz{
  width: 180px;
  height: 180px;
  border-radius: 10%;
}

.encabezado{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.titulo{
  margin: 0;
  font-size: 24px;
}

.links a{
  margin-left: 15px;
  text-decoration: none;
  font-size: 16px;
  color: black;
}

.contenedor:hover{
  background: #fafdf4;
  color: rgb(64, 77, 32);
  transform: scale(1.07);
  transition: transform 0.3s ease;
}

.color-baja{
  background: rgb(165, 217, 235);
  color: rgb(16, 91, 116);
}

.color-ideal{
  background: rgb(173, 255, 119);
  color: rgb(42, 78, 18);
}

.color-alta{
  background: rgb(253, 202, 106);
  color: rgb(80, 56, 12);
}

.links:hover{
  color: rgb(162, 184, 108);
  transform: scale(1.3);
  transition: transform 0.3s ease;
}