body {
font-family: Arial;
background: #80966e;
padding: 40px;
}

.contenedor {
background: rgb(185, 197, 174);
padding: 20px;
border-radius: 12px;
width: 300px;
margin: auto;
text-align: center;
}

.dato {
font-size: 30px;
margin: 10px 0;
}

.estado {
font-size: 20px;
font-weight: bold;
}

.contenedor:hover{
    background: #fafdf4;
    color: rgb(64, 77, 32);
    transform: scale(1.07);
  }